/* You can add global styles to this file, and also import other style files */

$bg-color: #f9f9f9;
$border-color: #eee;
$text-main: #1a1a1a;
$text-muted: #777;
$font-sans: 'Inter', sans-serif;
$font-serif: 'Playfair Display', serif;


body {
    margin: 0; 
    app-main {
        width: 100%;
       
    }
}